// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Profile Page Section Covers */

.section-cover{
	position: relative;
	overflow: hidden;
	background: #000;
	-webkit-backface-visibility: hidden;
}

.section-cover .section-cover-image {
	width: 100%;
	display: block;
	-webkit-backface-visibility: hidden;
	position: relative;
	vertical-align: top;
	overflow: hidden;
}


.section-cover h1 {
	position: absolute;
	left: 2%;
	bottom: 2%;
	padding: 0px;
	color: #fff;
	background: #000;
	font-size: 45px;
	padding: 15px;
	-webkit-backface-visibility: hidden;
}


.edit-profile {
	float: right;
	margin-bottom: 15px;
}

.profile-image {
		width: 175px;
		height: 175px;
		border: 2px solid #3a89ff;
		overflow: hidden;

		img {
			width: 100%;
		}
}

#profile-about {
	p.lead {
		font-size: 19px;
	}
}


@media (max-width: 767px) {
	.section-cover h1 {
		font-size: 36px;
		bottom: 0px;
		left: 0px;
	}

	#profile-about {
		padding-top: 15px;
	}

	.profile-image {
			margin-top: 0px;
		}

	.edit-profile {
		float: none;
		margin-bottom: 15px;
	}

}

@media (max-width: 540px) {
	.section-cover h1 {
		font-size: 26px;
		padding: 10px;
	}
}

@media (max-width: 380px) {
	.section-cover h1 {
		font-size: 18px;
		padding: 7px;
	}
}

.no-bio {
	padding-bottom: 30px;
}

// Yelp styles

.yelp-review {
	margin-top: 15px;
}

.yelp-reviews-count-logo {
	margin-top: -10px;
}

.yelp-review-sidebar {
	float: left;
  min-height: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 14.5%;
}

.yelp-media-block {
	font-size: 12px;
  line-height: 1.5em;
}

.yelp-avatar {
	border-right-width: 9px;
	border-right: 6px solid transparent;
  border-left: none;
}

.yelp-reviewer-img {
	outline: none;
	border-radius: 4px;
}

.yelp-media-story {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-width: 0;
  min-height: 0;
}

.yelp-user-name {
	font-size: 14px;
  line-height: 1.28571em;
  font-weight: bold;
}

.yelp-review-wrapper {
	float: left;
  padding: 0 15px;
  min-height: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 85.5%;
}

.yelp-review-stars {
	padding-top: 5px;
	padding-bottom: 5px;
}

.yelp-reviews-button {
  margin-left: -15px;
  margin-top: 15px;
  padding-left: 15px;
}

@media (max-width: 767px) {
	.yelp-review-sidebar {
		display: none;
	}

	.yelp-avatar {
		display: none;
	}

	.yelp-review-wrapper {
		float: left;
	  padding: 0 0px;
	  min-height: 1px;
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	  width: 100%;
	}
}

@media (max-width: 320px) {
	.yelp-rating {
		margin-top: -10px;
		margin-bottom: -10px;
		img {
			width: 33%;
    	max-width: 180px;
		}
	}
	.yelp-reviews-count-logo {
		width: 33%;
	}
	.yelp-review-stars {
		width: 33%;
	}
}


