<div class="page-cover">
  <h1 class="text-center">Our Story</h1>
</div>
<section class="our-story-body container row">
  <p class="lead">Our mission is to give a platform to passionate, inspiring food entrepreneurs.</p> 
    <p>Growing up, we used to look forward to the holidays. The holidays meant tables full of homecooked, carefully crafted food that exuded the love of its creators and was shared between family and friends. There was something beautiful about the passion and creativity expressed in each and every bite.</p>
    <p>After graduating college and settling down in New York City, we began to seek out small-batch, artisanal food products that reminded us of the food we grew up with. We quickly realilzed that there was a growing community of people just as passionate about small batch food.</p>
    <p>We established Leema to give a platform to these amazing culinary artists so that we can all share in their creations. Our product lines are carefully curated with the highest quality products from a vibrant community of independent culinary artisans across America.</p><br>
    <p>Thank you for visiting our site, and we hope that you enjoy it as much as we do!</p>
</section>
  <div class="row text-center">
    <div class="col-sm-4 col-xs-6 seller text-center">
      <h4 class="seller-full-name">Scott</h4>
      <%= image_tag "scott-leema.jpg", :class => 'img-responsive img-circle center-block leema-founders-img'%>
    </div>
    <div class="col-sm-4 col-xs-6 seller text-center">
      <h4 class="seller-full-name">Brandon</h4>
      <%= image_tag "brandon-leema.jpg", :class => 'img-responsive img-circle center-block leema-founders-img' %>
    </div>
    <div class="col-sm-4 col-xs-6 seller text-center">
      <h4 class="seller-full-name">Johann</h4>
      <%= image_tag "johann-leema.jpg", :class => 'img-responsive img-circle center-block leema-founders-img' %>
    </div>
  </div>
<%= stylesheet_link_tag "ourstory", :media => "all" %>